.tickets-container{
    display: flex;
    gap:20px;
    width: 100%;
    height: fit-content;
    padding: 5px;
}

.ticket-card {
  box-shadow: 0 5px 8px #e9ecef;
  border: 1px solid #EEEEEE;
  overflow: hidden;
  background-color: #fff;
  margin: 3px;
  max-width: 500px;
  cursor: grab;
  transition: 1s ease;
}

.ticket-card:active {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  border: 2px solid #007bff;
  cursor: grabbing;
}

.ticket-card:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  border: 1px solid #007bff;
  cursor: grabbing;
}

.ticket-card-title{
  padding: 10px;
  font-weight: bold;
}

.ticket-section-title{
  margin: 5px;
  color: #686D76;
}

.ticket-section{
  display: flex;
  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgb(244, 245, 247);
  border-radius: 5px;
  padding: 5px;
  min-width: 300px;
}

.nav-bar{
  width: 200px;
}

.nav-bar-slider{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  background-color: #03045e;
}
.side-menu-item{
  width: 200px;
}

.side-menu-item:hover{
    background-color: #023e8a;
    transition: all 0.3s ease 0s;
}

.user-icon svg{
  width: 30px;
  height: 30px;
}

.user-icon:hover{
  transform: translateY(-5px);
  transition: all 0.3s ease 0s;
}

.search-container {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: 10px 10px 10px 0px;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #888;
  cursor: pointer;
}

.active-user svg{
  border: 1px solid #007bff;
  transform: scale(1.1);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

